.how-to-play-flashcards-content {
  p {
    line-height: 1.6;
  }

  &__userDescription {
    margin: 8px 0 12px;
    color: var(--color-text-02);
    font-size: 14px;
    font-style: italic;
    line-height: 1.4;
  }
}
