.how-to-play-this-or-that-content {
  position: relative;
}

.how-to-play-creator-mode-content__userDescription {
  margin: 8px 0 12px;
  color: var(--color-text-02);
  font-size: 14px;
  font-style: italic;
  line-height: 1.4;
}
