.player-dialog {
  $van-dialog: '.van-dialog';

  width: 90%;
  max-width: var(--tablet);

  #{$van-dialog} {
    &__header {
      padding-block: 12px;
    }

    &__content {
      position: relative;
      display: block;
      max-height: 70vh;
      padding: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  &__loading,
  &__error {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 24px;
  }

  &__panel {
    padding-block: 8px;
  }
}
