.creator-mode-compose-form {
  position: relative;

  &__title {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    color: var(--color-text-01);
    margin-inline: auto;
    margin-block: var(--base-m-y);
    font-size: var(--font-size-text-4);
    text-align: center;

    @include font-weight-bold;
  }

  &__fields {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-01);
  }

  &__fieldsTitle {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    color: var(--color-text-01);
    margin-block-start: calc(var(--base-m-y) * 2);
    margin-block-end: var(--base-m-y);
    font-size: var(--font-size-text-7);
    text-align: left;

    @include font-weight-semi-bold;
  }

  .van-field {
    flex-direction: column;

    &__label {
      margin-block-end: $spacer * 2;
    }

    &__control:not(.van-field__control--custom) {
      padding: $spacer * 2 $spacer * 4 !important;
      border: 1px solid var(--color-border-02) !important;
      border-radius: calc(var(--border-radius-01) / 2) !important;
    }
  }

  .creator-mode-compose-form__roomTag {
    .van-field__word-limit {
      padding-inline-end: $spacer * 9;
    }
  }

  .creator-mode-compose-form-tags {
    &__tag {
      margin-inline-end: calc(var(--base-m-x) / 2);

      &::before {
        position: relative;
        content: '#';
      }

      .van-icon {
        color: #fff;
        background-color: var(--color-danger-01);
        margin-inline-start: 4px;
      }
    }
  }

  .compose-qa-list {
    position: relative;

    &__addQaButton {
      display: inline-block;
      margin: var(--base-m-y) 0;
      margin-right: var(--base-m-x);
    }

    &__submitButton {
      display: block;
      margin-top: var(--base-m-y);
      margin-left: auto;
    }
  }

  .compose-qa-card {
    position: relative;
    margin-bottom: var(--base-m-y);
    overflow: hidden;
    background-color: var(--color-ui-02);
    border-radius: var(--border-radius-01);

    &__index {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 24px;
      padding: $spacer $spacer * 2;
      color: var(--color-text-03);
      font-size: var(--font-size-text-11);
      text-transform: lowercase;
      background-color: var(--color-ui-02);
      border: 1px solid var(--color-border-02);
      border-radius: calc(var(--border-radius-01) / 2);
      inset-block-start: calc(24px / 2) * -1;
      inset-inline-start: 0;

      @include center(true, false);
    }

    &__actions {
      position: relative;
      display: flex;
      align-items: center;
      padding: var(--base-p-y) var(--base-p-x);
    }

    &__moveButton {
      margin-right: calc(var(--base-m-x) / 2);
      color: var(--color-text-02);
      background-color: var(--color-ui-02);
      border: 1px solid var(--color-border-02);
    }

    &__removeButton {
      position: relative;
      display: block;
      margin-left: auto;
    }

    &-add-media-button {
      color: var(--color-text-02);

      .van-button__text {
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      &__icon {
        margin-inline-end: calc(var(--base-m-x) / 2);

        svg {
          width: 16px !important;
          height: 16px !important;
        }
      }

      &__text {
        font-size: var(--font-size-text-10);
      }
    }
  }

  .creator-mode-compose-form__questionType {
    &::after {
      display: none;
    }
  }

  .question-type-radio-group {
    .question-type-radio {
      padding: $spacer $spacer * 2;
      border: 1px solid var(--color-border-02);
      margin-inline-end: 0;
      margin-inline-start: 0;

      &:first-child {
        border-top-left-radius: calc(var(--border-radius-01) / 2);
        border-bottom-left-radius: calc(var(--border-radius-01) / 2);
      }

      &:last-child {
        border-top-right-radius: calc(var(--border-radius-01) / 2);
        border-bottom-right-radius: calc(var(--border-radius-01) / 2);
      }

      &__text {
        display: block;
        color: var(--color-text-02);
        font-size: var(--font-size-text-8);
        margin-block-start: 1px;
      }

      &[aria-checked='true'] {
        border: 1px solid var(--color-brand-02);
      }
    }

    .question-type-radio__icon {
      color: var(--color-icon-01);
      margin-inline-end: calc(var(--base-m-x) / 2);

      svg {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }

  .media-thumbnail {
    position: relative;
    display: block;
    padding: var(--base-p-y) var(--base-p-x);

    &__image,
    &__youtube {
      display: block;
      width: 100%;
      max-width: 100%;
      padding: $spacer * 2;
      object-fit: scale-down;
      border: 1px solid var(--color-border-02);
      border-radius: var(--border-radius-01);
      aspect-ratio: 16/9;
      margin-block-end: calc(var(--base-m-y) / 2);
    }

    &__delete {
      position: absolute;
      inset-block-start: calc(var(--base-p-y) + 8px);
      inset-inline-end: calc(var(--base-p-x) + 8px);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      color: #fff;
      background-color: transparent;
      border: none;
      border-radius: 50%;

      .app-icon {
        width: 12px;
        height: 12px;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }

  .creator-mode-compose-form-media-note {
    &__description {
      display: block;
      color: var(--color-text-03);
      font-size: var(--font-size-text-10);
      padding-block: $spacer;
    }

    &-field {
      padding: 0;
    }
  }

  &__termsDescription {
    display: block;
    width: 100%;
    color: var(--color-text-03);
    font-size: var(--font-size-text-9);
    text-align: justify;
  }
}

@at-root .toast-creating-quiz {
  width: 280px;
  max-width: unset;
  min-height: 150px;
}
