@import '@/assets/style/scss/shared/_game-scene.scss';

.creator-mode-game-scene {
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;

  .textFitted {
    width: 100%;
  }

  .question-media {
    --image-aspect-ratio: 1/1;

    width: 100%;

    &-image {
      position: relative;
    }

    img {
      position: relative;
      display: block;
      width: 100%;
      max-width: 100%;
      padding: $spacer * 2;
      object-fit: scale-down;
      border: 1px solid var(--color-border-02);
      border-radius: calc(var(--border-radius-01) / 2);
      aspect-ratio: var(--image-aspect-ratio);
      user-select: none;
      -webkit-user-drag: none;
    }

    img:active {
      position: fixed !important;
      z-index: 3;
      width: 100%;
      height: 100%;
      object-fit: contain;
      background-color: #000;
      user-select: none;
      pointer-events: none;
      inset-block-start: 0;
      inset-inline-start: 0;
      aspect-ratio: unset;
      -webkit-user-drag: none;

      @include center(true, true);

      @include media-breakpoint-down(mobile) {
        object-fit: cover;
      }
    }

    &__note {
      display: block;
      color: var(--color-text-03);
      font-size: var(--font-size-text-10);
      margin-block-start: $spacer * 2;

      @include media-breakpoint-up(mobile) {
        margin-block-start: $spacer * 4;
        font-size: var(--font-size-text-8);
      }
    }
  }

  &.game-scene {
    &--osk {
      .questions {
        &.active-question-type-media {
          padding-inline: 0 !important;
          padding-block: $spacer * 10 !important;
        }

        &.active-question-type-text {
          padding-inline: $spacer * 4 !important;
          padding-block: $spacer * 12 !important;
        }
      }

      .question {
        img {
          @include media-breakpoint-down(mobile) {
            aspect-ratio: 16/9 !important;
          }
        }
      }

      .alphabet {
        @include media-breakpoint-down(mobile) {
          position: absolute !important;
          opacity: 1;
          inset-block-start: -8px;
        }

        .swiper-slide {
          @include media-breakpoint-down(mobile) {
            width: 24px !important;
            height: 24px !important;
          }
        }

        .alphabet__item {
          @include media-breakpoint-down(mobile) {
            font-size: 10px !important;
            border-width: 1px !important;
          }

          &--selected {
            @include media-breakpoint-down(mobile) {
              box-shadow: 0 2px var(--color-highlight-01) !important;
            }
          }
        }
      }

      .countdown {
        @include media-breakpoint-down(mobile) {
          position: fixed !important;
          z-index: 1;
          padding: 2px 6px;
          background-color: var(--color-ui-02);
          border-radius: var(--border-radius-01);
          inset-block-start: 0;
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;

          &__icon {
            margin-inline-end: $spacer !important;

            svg {
              width: 14px !important;
              height: 14px !important;
            }
          }

          &__timer {
            font-size: var(--font-size-text-11) !important;
          }

          @include media-breakpoint-down(mobile) {
            @include center(true, false);
          }
        }
      }

      .question-media {
        &__note {
          @include media-breakpoint-down(mobile) {
            position: absolute;
            width: calc(100% - $spacer * 12);
            padding: $spacer;
            color: #fff;
            font-size: var(--font-size-text-10);
            text-align: center;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: calc(var(--border-radius-01) / 2);
            margin-block-start: -32px;

            @include center(true, false);
          }
        }
      }
    }
  }
}
