.intro-scene {
  $scene: '.scene';

  position: relative;

  #{$scene} {
    &__inner {
      height: auto;
      margin: 0 auto;
      padding-block-start: calc(var(--base-p-y) * 2);
      padding-block-end: 15vh;
    }
  }

  .app-logo {
    display: flex;
    justify-content: center;
    height: auto;
    margin: 0 auto;
    transform: scale(0.8);
    transform-origin: center center;
  }

  &__title {
    margin-bottom: calc(var(--base-m-y) * 2);
    color: var(--color-text-02);
    text-align: center;
  }

  &__keywords {
    position: absolute;
    bottom: 0;
    text-align: left;
    padding-block: var(--base-p-y);
  }

  &__subtitle {
    margin-bottom: calc(var(--base-m-y) / 2);
    color: var(--color-text-03);
    font-size: var(--font-size-text-9);
  }

  &__description {
    margin-top: 0;
    margin-bottom: calc(var(--base-m-y) / 2);
    color: var(--color-text-03);
    font-size: var(--font-size-text-10);
  }

  &-mode-list {
    position: relative;

    .intro-button {
      position: relative;
    }

    &-item {
      &--unlimited {
        &::after {
          display: none;
        }

        .intro-button__description {
          margin-block-start: $spacer * 6;
        }
      }

      &--wordblock {
        &::after {
          display: none;
        }

        .intro-button__description {
          margin-block-start: $spacer * 6;
        }
      }

      &--creator {
        .intro-button-body {
          height: auto;
          border-top-right-radius: calc(var(--border-radius-01) / 2) !important;
          border-bottom-right-radius: calc(var(--border-radius-01) / 2) !important;

          @include media-breakpoint-down(mobile) {
            margin-block-end: $spacer * 4;
          }
        }

        .intro-button-body__content {
          height: auto !important;
          min-height: 40px !important;
        }

        &:has(.todaysQuiz) {
          .intro-button__description {
            margin-block-start: $spacer;
          }
        }

        .todaysQuiz {
          a {
            color: var(--color-text-01);

            &:hover {
              text-decoration: underline !important;
            }
          }
        }
      }

      &--tour {
        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }

        .intro-button__icon {
          svg {
            animation: rotate 10s linear infinite;
          }
        }
      }
    }

    .top-scorer {
      display: flex;
      align-items: center;

      .best-score-label {
        @include media-breakpoint-down(tablet) {
          position: absolute;
          padding: calc(#{$spacer} / 2) $spacer * 3;
          font-size: var(--font-size-text-11);
          background-color: rgba(209, 209, 20, 0.2);
          border-block-end: 1px solid rgba(209, 209, 20, 0.1);
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          inset-block-start: -17px;
          inset-inline-end: 0;
        }
      }

      .by-label {
        @include media-breakpoint-down(tablet) {
          display: none;
        }
      }

      p {
        display: flex;
        align-items: center;
        width: 100%;

        strong {
          @include media-breakpoint-down(tablet) {
            margin-inline-start: auto;
          }
        }
      }

      &__avatar {
        height: 40px;
        padding: $spacer * 2 $spacer * 2;
        padding-inline-end: $spacer;

        .player-avatar {
          &__username {
            max-width: 132px;
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

      &__icon {
        margin-inline-end: $spacer * 2;

        @include media-breakpoint-down(tablet) {
          margin-inline-end: $spacer;
        }
      }
    }
  }
}
